body{
 width:1000px;
 margin: 30px auto;
 background-color: darkcyan;
background-size: contain;
 
} 

header{
  border-bottom: 2px solid aliceblue;
  margin-bottom: 30px;
  text-align: center;
  color: aliceblue;
}
nav{
    width: 310px;
    text-align: left;
    float: left;
    padding-right: 10px;
    margin-right: 6px;
    box-sizing: border-box;
}
section{
    
    width: 680px;
    float: left;
    box-sizing: border-box;
    vertical-align: baseline;
    padding: 20px;
}
a{  color: aliceblue;
    margin-right: 8px;

    

}
p{  color: cornsilk;
    font-weight: 900;
    text-indent: 50px;
}
h2{
    color: aliceblue;
}

table{
      font-family: Arial,sans-serif;
      border-collapse:colapse;
      width: 80%;
      margin: 0 auto;
      color: white;
    }
    th{
      padding: 16px;
      border: 1px solid black;
    }
    td,th {
      background-color: black;
    }
    td{
      padding: 12px;
    }

  
  




